fastapi==0.110.0
fastapi-cli
uvicorn[standard]==0.29.0

# Pour les types et la validation
pydantic==2.6.4

# Pour les tests (optionnel mais recommandé)
pytest==8.1.1
httpx==0.27.0

# Pour le développement (rechargement auto, etc.)
python-dotenv==1.0.1
